.quiz {}

.quiz-questions {
	position: absolute;
	left: 50%;
	top: -5rem;
	transform: translate(-50%, 0);

	font-size: 1.6rem;
	font-weight: 600;
}

.quiz-question {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

@media (max-width:575px) {
	.quiz-question {
		width: 90vw;
	}

	.quiz-questions-title {
		font-size: 2.1rem;
	}
}

.quiz-questions-title {
	font-size: 3rem;
	font-weight: 600;
	text-align: center;
}

.quiz-questions__answers {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	margin-bottom: 3rem;
}

.quiz-label {
	font-size: 1.4rem;
}




.quiz-input[type='text'] {
	height: 4rem;
	width: 100%;
	border-radius: .6rem;
}

.quiz-btn {
	padding: 1rem;
	width: 100%;
}

@media (max-width:575px) {
	.quiz-btn {
		min-height: 4.6rem;
	}
}

.quiz-btn:hover {
	cursor: pointer;
}

.quiz-prev-btn {
	background-color: #000;
	color: #fff;
	border: none;
}

.btn-container {
	display: flex;
	justify-content: space-between;
	gap: 3rem;
}

@media (max-width:575px) {
	.btn-container {
		flex-direction: column;
		gap: 1rem;
	}
}

@supports(-webkit-appearance: none) or (-moz-appearance: none) {

	input[type='checkbox'],
	input[type='radio'] {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
}

input[type='radio'] {
	width: 1rem;
	height: 1rem;

	border-radius: 100%;

	position: relative;
	padding-left: 3rem;
	transition: all .3s;
}

input[type='radio']:checked::before {
	content: "";

	position: absolute;
	top: 50%;
	left: 44%;
	transform: translate(-50%, -50%);

	width: .8rem;
	height: .8rem;

	border: .2rem #fff solid;

	border-radius: 100%;
}

input[type='radio']:checked::after {
	border: .2rem #fff solid;
}

input[type='radio']:after {
	content: "";

	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(0, -50%);

	height: 2.2rem;
	width: 2.2rem;

	border: .2rem solid #ffffffac;
	border-radius: 100%;
	transition: all .3s;
}

input[type='radio']:not(:checked):not(:disabled):hover::after {
	cursor: pointer;
	border: .2rem #fff solid;
}